
body {
    background-image:url(background.PNG) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#rcorners {
    border-radius: 25px;
    padding: 20px; 
    width: 400px;
  }

div {
    position:fixed;
    top: 33%;
    left: 37%;
}
